#map-1{height:500px;width:100%;}
#map-2{height:500px;width:100%;}
#map-3{height:500px;width:100%;}
#map-4{height:500px;width:100%;}
#map-5{height:500px;width:100%;}
.mGrid{
    width:45%;
}
.mSplit{
    width:9%;
}
input { transition: all 0.30s ease-in-out; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; border: #35a5e5 1px solid; border-radius: 3px; outline: none; }
.mSelect{ transition: all 0.30s ease-in-out; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; border: #35a5e5 1px solid; border-radius: 3px; outline: none; }

input:focus { box-shadow: 0 0 5px rgba(81, 203, 238, 1); -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1); -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1); }

.mButton { text-decoration: none; background: rgba(81, 203, 238, 1); color: white; padding: 6px 25px 6px 25px; font: 12px '微软雅黑'; border-radius: 3px; -webkit-transition: all linear 0.30s; -moz-transition: all linear 0.30s; transition: all linear 0.30s; }

.mButton:hover { background: rgba(39, 154, 187, 1); }

#panel1 {
    position: relative;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    top: 10px;
    left: 75%;
    width: 25%;
    z-index:100;
}
#panel2 {
    position: relative;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    top: 10px;
    left: 75%;
    width: 25%;
    z-index:100;
}
#panel4 {
    position: relative;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    top: 10px;
    left: 75%;
    width: 25%;
    z-index:100;
}
#panel5 {
    position: relative;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    top: 10px;
    left: 75%;
    width: 25%;
    z-index:100;
}

.busstop{
    font-size: 10px;
}
span{
    font-size: 10px;
}
.inner-input{
    width: 40px;
    text-align: center;
    border:0px;
}
.wrap {
    margin-left: 97%;
    position: relative;
    width: 50px;
    margin-top:-30px;
}
.red   { left: 0%; }
.ball,
.shadow {
    border-radius: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.ball{
    height: 20px;
    width: 20px;
    -webkit-animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    cursor: pointer;
}
.red .ball   { background: -webkit-gradient(linear, left top, left bottom, from(#e55), to(#b00)); background: -webkit-linear-gradient(#e55, #b00); background: linear-gradient(#e55, #b00); }
.green .ball { background: -webkit-gradient(linear, left top, left bottom, from(#5d5), to(#0a0)); background: -webkit-linear-gradient(#5d5, #0a0); background: linear-gradient(#5d5, #0a0); }
.blue .ball  { background: -webkit-gradient(linear, left top, left bottom, from(#59e), to(#04b)); background: -webkit-linear-gradient(#59e, #04b); background: linear-gradient(#59e, #04b); }

.shadow {
    -webkit-animation: shadow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    animation: shadow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
    background: #c8c8c8;
    bottom: -40px;
    height: 15px;
    width: 35px;
    cursor:pointer;
}

.red .ball,
.red .shadow   { -webkit-animation-delay: -200ms; animation-delay: -200ms; }

@-webkit-keyframes ball {
    0% {
        -webkit-transform: translateY( 0 );
        transform: translateY( 0 );
    }
    100% {
        -webkit-transform: translateY( -20px );
        transform: translateY( -20px );
    }
}

@keyframes ball {
    0% {
        -webkit-transform: translateY( 0 );
        transform: translateY( 0 );
    }
    100% {
        -webkit-transform: translateY( -20px );
        transform: translateY( -20px );
    }
}

@-webkit-keyframes shadow {
    0% {
        opacity: 1;
        -webkit-transform: scale( 0.75 );
        transform: scale( 0.75 );
    }
    100% {
        opacity: 0.3;
        -webkit-transform: scale( 1 );
        transform: scale( 1 );
    }
}

@keyframes shadow {
    0% {
        opacity: 1;
        -webkit-transform: scale( 0.75 );
        transform: scale( 0.75 );
    }
    100% {
        opacity: 0.3;
        -webkit-transform: scale( 1 );
        transform: scale( 1 );
    }
}
.cover_layer{
    width: 100%;
    height: 100%;
    top:0%;
    left:0%;
    display: none;
    position:fixed;
    z-index: 1001;
    background-color: rgba(0,0,0,0.7);
}
.cover_img{
    z-index: 1002;

}
.carousel-inner2 {
    position: relative;
    width: 100%;
    min-width: 1100px;
    overflow: hidden;
@include clearfix();
}